
.interest-variant-container{
    width: 85%;
    height: 50%;
    border: solid;
    border-color: gray;
    font-size: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    background-color: white;
}
.interest-variant-container-active{
    width: 85%;
    height: 50%;
    border: solid;
    border-color: var(--main-color);
    font-size: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    background-color: white;
}

@media (max-width:480px) {
    .interest-variant-container{
        font-size: 1.5vw;
    }
    .interest-variant-container-active{
        font-size: 1.5vw;
    }
}
.interest-variant-container:hover,
 .interest-variant-container-active:hover{
    cursor: pointer;
}